.post {
  &__body {
    padding: 10px 0;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0 0 10px 10px;
  }

  &__like {
    cursor: pointer;

    &_liked {
      fill: #303030;
    }
  }

  &__comments-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__comments {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
